<div class="row">
    <div class="col-8">

        <div class="component-list component-big-list">
            <article class="component-item">
                <a href=@Url.Action("ProductList", "Home") class="campaign campaign-big">
                    <span class="image-container">
                        <img src="~/Content/Images/bigImage1.jpg" alt="Aksesuarda Tek Fiyat" class="btn-block">
                    </span>
                    <summary class="btn-block">
                        <span class="name">Aksesuarda Tek Fiyat</span>
                        <span class="hover-text">alışverişe başla<i class="icon icon-arrow-banner-white"></i></span>
                    </summary>
                </a>
            </article>
            <p></p>
            <article class="component-item">
                <a href="/aksesuarda-tek-fiyat/butikdetay/381200" class="campaign campaign-big">
                    <span class="image-container">
                        <img src="~/Content/Images/bigImage2.jpg" alt="Aksesuarda Tek Fiyat" class="btn-block">
                    </span>
                    <summary class="btn-block">
                        <span class="name">Aksesuarda Tek Fiyat</span>
                        <span class="hover-text">alışverişe başla<i class="icon icon-arrow-banner-white"></i></span>
                    </summary>
                </a>
            </article>
            <p></p>
            <article class="component-item">
                <a href="/aksesuarda-tek-fiyat/butikdetay/381200" class="campaign campaign-big">
                    <span class="image-container">
                        <img src="~/Content/Images/bigImage3.jpg" alt="Aksesuarda Tek Fiyat" class="btn-block">
                    </span>
                    <summary class="btn-block">
                        <span class="name">Aksesuarda Tek Fiyat</span>
                        <span class="hover-text">alışverişe başla<i class="icon icon-arrow-banner-white"></i></span>
                    </summary>
                </a>
            </article>
            <p></p>
            <article class="component-item">
                <a href="/aksesuarda-tek-fiyat/butikdetay/381200" class="campaign campaign-big">
                    <span class="image-container">
                        <img src="~/Content/Images/bigImage4.jpg" alt="Aksesuarda Tek Fiyat" class="btn-block">
                    </span>
                    <summary class="btn-block">
                        <span class="name">Aksesuarda Tek Fiyat</span>
                        <span class="hover-text">alışverişe başla<i class="icon icon-arrow-banner-white"></i></span>
                    </summary>
                </a>
            </article>
            <p></p>
            <article class="component-item">
                <a href="/aksesuarda-tek-fiyat/butikdetay/381200" class="campaign campaign-big">
                    <span class="image-container">
                        <img src="~/Content/Images/bigImage5.jpg" alt="Aksesuarda Tek Fiyat" class="btn-block">
                    </span>
                    <summary class="btn-block">
                        <span class="name">Aksesuarda Tek Fiyat</span>
                        <span class="hover-text">alışverişe başla<i class="icon icon-arrow-banner-white"></i></span>
                    </summary>
                </a>
            </article>





        </div>
    </div>

    <div class="col-4">

        <div id="fitgir">
            <a href="~/Content/Images/smalimage1.png">
                <img src="~/Content/Images/smalimage1.png" class="btn-block">
            </a>
        </div>
        <p></p>
        <div id="fitgir2">
            <a href="~/Content/Images/smalimage1.png">
                <img src="~/Content/Images/smalimage2.gif" class="btn-block">
            </a>
        </div>
        <p></p>
        <div id="fitgir3">
            <a href="~/Content/Images/smalimage3.gif">
                <img src="~/Content/Images/smalimage3.gif" class="btn-block">
            </a>
        </div>



    </div>

</div>


