<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-10">
                    <div class="card-header">
                        <nav class="header-navigation">
                            @*<a href="#" class="btn btn-link">Back to the list</a>*@

                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Man</a></li>
                                <li class="breadcrumb-item"><a href="#">Clothes</a></li>
                                <li class="breadcrumb-item active" aria-current="page">T-Shirts</li>
                            </ol>

                            @*<div class="btn-group">
                                <a href="#" class="btn btn-link btn-share">Share</a>
                                <a href="#" class="btn btn-link">Sell item like this</a>
                            </div>*@
                        </nav>
                    </div>
                    <div class="card-body store-body">
                        <div class="product-info">
                            <div class="product-gallery">
                                <div class="product-gallery-thumbnails">
                                    <ol class="thumbnails-list list-unstyled">
                                        <li><img src="~/Content/Images/kolye1-1.jpg" alt=""></li>
                                        <li><img src="~/Content/Images/kolye1-2.jpg" alt=""></li>
                                        <li><img src="~/Content/Images/kolye1-3.jpg" alt=""></li>
                                        <li><img src="~/Content/Images/kolye1-4.jpg" alt=""></li>
                                        @*<li><img src="https://via.placeholder.com/350x350/930000" alt=""></li>*@
                                    </ol>
                                </div>
                                <div class="product-gallery-featured">
                                    @*<img src="https://via.placeholder.com/350x350/ffcf5b" alt="">*@
                                    <img src="https://img-trendyol.mncdn.com/mnresize/415/622/assets/product/media/images/20191004/14/327308/57195920/2/2_org_zoom.jpg" alt="" class="ph-gl-img" style="width: 415px; height: 622px; pointer-events: none;">
                                </div>
                            </div>
                            
                        </div>
                        <div class="product-payment-details">
                            <p class="last-sold text-muted"><small>145 items sold</small></p>
                            <h4 class="product-title mb-2">T-shirt Nickony - XXL Black and White - 100% cotton - Limited Stock</h4>
                            <h2 class="product-price display-4">$ 25.00</h2>
                            <p class="text-success"><i class="fa fa-credit-card"></i> 12x or  5x $ 5.00</p>
                            <p class="mb-0"><i class="fa fa-truck"></i> Delivery in all territory</p>
                            <div class="text-muted mb-2"><small>know more about delivery time and shipping forms</small></div>
                            <label for="quant">Quantity</label>
                            <input type="number" name="quantity" min="1" id="quant" class="form-control mb-5 input-lg" placeholder="Choose the quantity">
                            <button class="btn btn-primary btn-lg btn-block">Buy Now</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>